<!doctype html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="__RES__/common/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="__RES__/common/css/bootstrap-theme.css">
<link rel="stylesheet" type="text/css" href="__RES__/common/css/bootstrap-table.css">
<script type="text/javascript" src="__RES__/common/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="__RES__/common/js/bootstrap.js"></script>
<script type="text/javascript" src="__RES__/common/js/bootstrap-table.js"></script>
<script type="text/javascript" src="__RES__/common/js/bootstrap-table-zh-CN.min.js"></script>
<script type="text/javascript" src="__RES__/flyui/js/flyimage.js"></script>
<body>
<form class="form-horizontal" name="celltypeform" id="celltypeform" method="post" role="form"
      action="{:url('/flyuiapi/celltype')}"
      enctype="multipart/form-data">
    <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">{if condition="$item['celltypeId'] gt 0"}修改组件类型{else/}添加组件类型{/if}</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label class="col-sm-1 control-label">类别名称</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" name="celltypeName" id="celltypeName"
                       value="{$item.celltypeName}"
                       placeholder="请输入名称">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">类别标识</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" name="celltype" id="celltype" value="{$item.celltype}"
                       placeholder="请输入类型标识(*唯一值，不能与已录入数据重复)">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">图片示例</label>
            <div class="col-sm-5">
                <input class="FlyImageInput" type="file" accept="image/*" imageUrl="{$item.imageurl}" name="imagefile">
                <input type="hidden" id="imageurl" name="imageurl" value="{$item.imageurl}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">显示脚本</label>
            <div class="col-sm-5">
                <textarea class="form-control" name="html" id="html" placeholder="html显示控件样式的脚本">{$item.html}</textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">组件说明</label>
            <div class="col-sm-5">
                <textarea class="form-control" name="description" id="description" placeholder="描述说明组件信息">{$item.description}</textarea>
            </div>
        </div>
        {if condition="$item['celltypeId'] gt 0"}
        <input type="hidden" name="celltypeId" id="celltypeId" value="{$item.celltypeId}">
        {/if}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" onclick="onCancel()">取消</button>
        {if condition="$item['celltypeId'] gt 0"}
        <button type="button" class="btn btn-primary" onclick="postform()">修改</button>
        {else/}
        <button type="reset" class="btn btn-default">重置</button>
        <button type="button" class="btn btn-primary" onclick="postform()">提交</button>
        {/if}
    </div>
</form>
</body>
</html>

<script type="text/javascript">
    var celltypeurl = "{:url('/flyuiapi/celltype')}";

    //POST提交数据
    function postform() {
        if ($('#celltypeName').val() === "") {
            $('#celltypeName').focus();
            return
        }

        if ($('#celltype').val() === "") {
            $('#celltype').focus();
            return
        }

        $.ajax({
            type: "{$item.celltypeId}" <= 0?"POST":"PUT",
            url: celltypeurl,
            data: $('#celltypeform').serialize(),
            error: function (request) {
                alert("error code:" + request.readyState);
            },
            success: function (data) {
                var obj = JSON.parse(data);
                if (obj.code === 0) {
                    window.history.back();
                } else {
                    alert(obj.msg);
                }
            }
        });
    }

    $('.FlyImageInput').flyinput({
        ajaxurl: "{:url('/api/imagefile')}",
        postData: false,
        width: "100%",
            height: "300px"
    }).bind("success", function (e, data) {
        $('#imageurl').val(data.saveName);
    }).bind("del", function (e, data) {
        $('#imageurl').val("");
    });

    function onCancel() {
        window.location.href = "{:url('/flyui/celltype')}";
    }
</script>
