<!doctype html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="__RES__/common/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="__RES__/common/css/bootstrap-theme.css">
<link rel="stylesheet" type="text/css" href="__RES__/common/css/bootstrap-table.css">
<script type="text/javascript" src="__RES__/common/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="__RES__/common/js/bootstrap.js"></script>
<script type="text/javascript" src="__RES__/common/js/bootstrap-table.js"></script>
<script type="text/javascript" src="__RES__/common/js/bootstrap-table-zh-CN.min.js"></script>
<script type="text/javascript" src="__RES__/news/js/flyinput.js"></script>
<body>
<form class="form-horizontal" name="newsform" id="newsform" method="post" role="form"
      action="{:url('/homeapi/news')}"
      enctype="multipart/form-data">
    <div class="modal-header">
        <h4 class="modal-title" id="">修改新闻</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label class="col-sm-1 control-label">新闻图片</label>
            <div class="col-sm-4">
                <input type="file" accept="image/*" id="imageinput1" name="imagefile">
                <input type="hidden" id="imageurl1" name="imageurl1" value="{$item.imageurl1}">
            </div>
            <label class="col-sm-1 control-label">新闻图片</label>
            <div class="col-sm-4">
                <input type="file" accept="image/*" id="imageinput2" name="imagefile">
                <input type="hidden" id="imageurl2" name="imageurl2" value="{$item.imageurl2}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">显示标题</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" name="newsTitle" id="newsTitle" value="{$item.newsTitle}"
                       placeholder="请输入标题">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">文本内容</label>
            <div class="col-sm-9">
                            <textarea class="form-control" style="height: 300px" name="newsText" value="" id="newsText"
                                      placeholder="">{$item.newsText}</textarea>
            </div>
        </div>
        <input type="hidden" name="newsId" id="newsId" value="{$item.newsId}">
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" onclick="onCancel()">取消</button>
        <button type="button" class="btn btn-primary" onclick="postnews()">修改</button>
    </div>
</form>
</body>
</html>

<script type="text/javascript">
    var newsurl = "{:url('/homeapi/news')}";
    var upimageurl2 = "{:url('/homeapi/imagefile')}";
    var imageurl1 = $('#imageurl1').val();
    var imageurl2 = $('#imageurl2').val();

    //POST提交数据
    function postnews() {
        if ($('#newsTitle').val() === "") {
            $('#newsTitle').focus();
            return
        }

        if ($('#newsSort').val() === "") {
            $('#newsSort').focus();
            return
        }
        $.ajax({
            type: "PUT",
            url: newsurl,
            data: $('#newsform').serialize(),
            error: function (request) {
                alert("error code:" + request.readyState);
            },
            success: function (data) {
                var obj = JSON.parse(data);
                if (obj.code === 0) {
                    window.history.back();
                } else {
                    alert(obj.msg);
                }
            }
        });
    }

    $('#imageinput1').flyinput({
        url: upimageurl2,
        image:imageurl1,
        autoup: true,
        showPreview: true,
        width: "100%",
        height: "240px"
    }).on("success", function (event, data) {
        var result = JSON.parse(data);
        $('#imageurl1').val(result.data.saveName);
    });

    $('#imageinput2').flyinput({
        url: upimageurl2,
        image:imageurl2,
        autoup: true,
        showPreview: true,
        width: "100%",
        height: "240px"
    }).on("success", function (event, data) {
        var result = JSON.parse(data);
        $('#imageurl2').val(result.data.saveName);
    });

    function onCancel() {
        window.location.href = "{:url('/home/news')}";
    }

</script>
