html, body {
    margin: 0px 0px;
    width: 100%;
    height: 100%;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

iframe {
    margin: 0px 0px;
    width: 100%;
    height: 100%;
}

.header{
    position:relative;
    width: 100%;
    height: 50px;
    border: none;
}

.left-menu{
    position:absolute;
    float: left;
    width: 240px;
    height: 100%;
    border-top-style: solid;
    border-right-style: solid;
    border-width: 2px;
    border-color: #0b2e13;
}

.content{
    margin-left:240px;
    height:100%;
    border-top-style: solid;
    border-width: 2px;
    border-color: #0b2e13;
}
.mousemove{
    cursor:pointer;
}
