<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="__RES__/auth/css/auth.css"/>
    <link rel="stylesheet" type="text/css" href="__RES__/common/css/bootstrap.css">
    <script type="text/javascript" src="__RES__/common/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="__RES__/common/js/bootstrap.js"></script>
</head>
<body>
<form class="form-horizontal" name="saveForm" id="saveForm" accept-charset="utf-8"
      action="{:url('/auth/role/rolepermission')}" method="post">
    <div class="modal-header">
        <h4 class="modal-title">配置[{$item.name}]的权限</h4>
    </div>
    <div class="apps-title">
        <label>配置权限</label>
        {volist name="list" id="v" key="k"}
        <div class="apps">
            <div class="app">
                {if condition="$v['access'] eq 1"}
                <input class="checkbox1" type="checkbox" name="permid[]" value="{$v.id}" id="1" checked="checked">
                {else/}
                <input class="checkbox1" type="checkbox" name="permid[]" value="{$v.id}" id="1">
                {/if}
                {$v.name}
            </div>
            {volist name="v['child']" id="c" key="k"}
            <div class="controls">
                <div class="control">
                    {if condition="$c['access'] eq 1"}
                    <input class="checkbox1" type="checkbox" name="permid[]" value="{$c.id}" id="2" checked="checked">
                    {else/}
                    <input class="checkbox1" type="checkbox" name="permid[]" value="{$c.id}" id="2">
                    {/if}
                    {$c.name}
                </div>
                {volist name="c['child']" id="m" key="k"}
                <div class="method">
                    {if condition="$m['access'] eq 1"}
                    <input class="checkbox1" type="checkbox" name="permid[]" value="{$m.id}" id="3" checked="checked">
                    {else/}
                    <input class="checkbox1" type="checkbox" name="permid[]" value="{$m.id}" id="3">
                    {/if}
                    {$m.name}
                </div>
                {/volist}
            </div>
            {/volist}
        </div>
        {/volist}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" onclick="onCancel()">取消</button>
        <button type="button" class="btn btn-primary" onclick="postSave()">确定</button>
    </div>
    <input type="hidden" name="role_id" value="{$item.id}">
</form>
</body>
</html>

<script type="text/javascript">
    $('input[id=1]').click(function () {
        var inputs = $(this).parents('.apps').find('input');
        inputs.prop('checked', $(this).prop('checked'));
//		inputs.attr('checked',$(this).prop('checked'));
    });

    $('input[id=2]').click(function () {
        var inputs = $(this).parents('.controls').find('input');
        inputs.prop('checked', $(this).prop('checked'));
//		inputs.attr('checked',$(this).prop('checked'));
    });

    function postSave() {
        $.ajax({
            type: "POST",
            url: "{:url('/auth/role/rolepermission')}",
            data: $('#saveForm').serialize(),
            error: function (request) {
                alert("error code:" + request.readyState);
            },
            success: function (data) {
                var obj = JSON.parse(data);
                if (obj.code === 0) {
                    window.location.href = "{:url('/auth/role')}";
                } else {
                    alert(obj.msg);
                }

            }
        });
    }

    function onCancel() {
        window.history.back();
    }


</script>