<!doctype html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="__RES__/common/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="__RES__/common/css/bootstrap-theme.css">
<link rel="stylesheet" type="text/css" href="__RES__/common/css/bootstrap-table.css">
<script type="text/javascript" src="__RES__/common/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="__RES__/common/js/bootstrap.js"></script>
<script type="text/javascript" src="__RES__/common/js/bootstrap-table.js"></script>
<script type="text/javascript" src="__RES__/common/js/bootstrap-table-zh-CN.min.js"></script>
<body>
<table id="flytable"></table>
</body>
</html>

<script type="text/javascript">
    //bootstrap-table脚本
    $(function () {
        //1.初始化Table
        var oTable = new TableInit();
        oTable.Init();
        //2.初始化Button的点击事件
        // var oButtonInit = new ButtonInit();
        // oButtonInit.Init();

    });

    var TableInit = function () {
        var oTableInit = {};
        //初始化Table
        oTableInit.Init = function () {
            $('#flytable').bootstrapTable({
                url: "{:url('/fotaapi/phonelog')}",     //请求后台的URL（*）
                method: 'get',                      //请求方式（*）
                dataType: 'json',
                striped: true,                      //是否显示行间隔色
                cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: true,                   //是否显示分页（*）
                sortable: false,                    //是否启用排序
                sortOrder: "asc",                   //排序方式
                queryParams: function (params) {
                    return {
                        offset: params.offset,
                        limit: params.limit,
                    };
                },                                  //传递参数（*）
                sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                pageNumber: 1,                      //初始化加载第一页，默认第一页
                pageSize: 20,                       //每页的记录行数（*）
                pageList: [5, 10, 20, 50, 100, 200],   //可供选择的每页的行数（*）
                search: false,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
                strictSearch: false,
                showColumns: true,                  //是否显示所有的列
                showRefresh: true,                  //是否显示刷新按钮
                minimumCountColumns: 2,             //最少允许的列数
                clickToSelect: true,                //是否启用点击选中行
//                height: 500,                      //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                uniqueId: "phonelogId",           //每一行的唯一标识，一般为主键列
                showToggle: false,                  //是否显示详细视图和列表视图的切换按钮
                cardView: false,                    //是否显示详细视图
                detailView: false,                  //是否显示父子表
                columns: [{
                    field: 'phoneId',
                    title: '设备ID',
                    halign: "center",
                    align: "center"
                }, {
                    field: 'event',
                    title: '日志类型',
                    halign: "center",
                    align: "center"
                }, {
                    field: 'emsg',
                    title: '日志描述',
                    halign: "center",
                }, {
                    field: 'phonetime',
                    title: '日志时间(设备)',
                    halign: "center",
                    align: "center",
                }, {
                    field: 'createtime',
                    title: '日志时间(服务器)',
                    halign: "center",
                    align: "center"
                }, {
                    field: 'ip',
                    title: 'IP地址',
                    halign: "center",
                    align: "center",
                }]
            });
        };
        //得到查询的参数
        return oTableInit;
    };

    $('#btn_add').on("click", function (event) {
        window.location.href = "{:url('/fota/phonelog/edit')}";
    });

    $('#btn_edit').on("click", function (event) {
        var a = $('#flytable').bootstrapTable('getSelections');
        if (a.length > 0) {
            window.location.href = "{:url('/fota/phonelog/edit')}?id=" + a[0].phonelogId;
        }
    });

    $('#btn_delete').on("click", function (event) {
        var a = $('#flytable').bootstrapTable('getSelections');
        for (var i = 0; i < a.length; i++) {
            $.ajax({
                type: "DELETE",
                url: "{:url('/fotaapi/phonelog')}",
                data: {
                    phonelogId: a[i].phonelogId
                },
                error: function (request) {
                    alert("error code:" + request.readyState);
                },
                success: function (data) {
                    var obj = JSON.parse(data);
                    if (obj.code === 0) {
                        $('#flytable').bootstrapTable('refresh');
                    } else {
                        alert(obj.msg);
                    }
                }
            });
        }
    });
</script>
