<!doctype html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="__RES__/common/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="__RES__/common/css/bootstrap-theme.css">
<link rel="stylesheet" type="text/css" href="__RES__/common/css/bootstrap-table.css">
<script type="text/javascript" src="__RES__/common/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="__RES__/common/js/bootstrap.js"></script>
<script type="text/javascript" src="__RES__/common/js/bootstrap-table.js"></script>
<script type="text/javascript" src="__RES__/common/js/bootstrap-table-zh-CN.min.js"></script>
<script type="text/javascript" src="__RES__/flyui/js/flyimage.js"></script>
<body>
<form class="form-horizontal" name="themeform" id="themeform" method="post" role="form"
      action="{:url('/flyuiapi/theme')}"
      enctype="multipart/form-data">
    <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">{if condition="$item['themeId'] gt 0"}修改模板{else/}添加模板{/if}</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label class="col-sm-1 control-label">模板名称</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" name="themeName" id="themeName" value="{$item.themeName}"
                       placeholder="请输入名称">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">主题特效</label>
            <div class="col-sm-7" style="height: 32px">
                <div style="padding-left:4px;padding-right:4px;border:solid;border-width:1px;border-color: #EEEEEE;float: left;line-height: 32px">
                    显示镜像
                    <input type="checkbox" style="margin-top:6px;" id="checkMirror">
                    <input type="hidden" name="isMirror" id="isMirror" value="fasle">
                </div>
                <div style="padding-left:4px;margin-left:20px;border:solid;border-width:1px;border-color: #EEEEEE;float: left;line-height: 32px">
                    动画
                    <select id="animType" style="height: 30px;border:solid;border-width:1px;border-color:#000000;" name="animType">
                        <option value="0" selected="selected">无动画</option>
                        <option value="1">立方体旋转</option>
                        <option value="2">翻页效果</option>
                        <option value="3">垂直立方体旋转</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">背景图片</label>
            <div class="col-sm-3">
                <input id="flyimage1" class="FlyImageInput" type="file" accept="image/*" name="imagefile" imageUrl="{$item.imageurl}">
                <input type="hidden" id="imageurl" name="imageurl" value="{$item.imageurl}">
            </div>

            <label class="col-sm-1 control-label">展示图片</label>
            <div class="col-sm-3">
                <input id="flyimage2" class="FlyImageInput" type="file" accept="image/*" name="imagefile" imageUrl="{$item.exampleurl}">
                <input type="hidden" id="exampleurl" name="exampleurl" value="{$item.exampleurl}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">分&nbsp辨&nbsp率&nbsp</label>
            <div class="col-sm-1">
                <input id="screenWidth" name="screenWidth" type="text" class="form-control" value="{$item.screenWidth}" placeholder="宽(像素)">
            </div>
            <div class="col-sm-1">
                <input id="screenHeight" name="screenHeight" type="text" class="form-control" value="{$item.screenHeight}" placeholder="高(像素)">
            </div>
            <label class="col-sm-1 control-label">背景颜色</label>
            <div class="col-sm-2">
                <input id="backcolor" name="backcolor" type="text" class="form-control" value="{$item.backcolor}" placeholder="格式：#FFFFFFFF">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">有效区域</label>
            <div class="col-sm-1">
                <input id="left" class="form-control" name="left" type="text" value="{$item.left}"
                       placeholder="LEFT">
            </div>
            <div class="col-sm-1">
                <input id="top" class="form-control" name="top" type="text" value="{$item.top}" placeholder="TOP">
            </div>
            <div class="col-sm-1">
                <input id="right" class="form-control" name="right" type="text" value="{$item.right}"
                       placeholder="RIGHT">
            </div>
            <div class="col-sm-1">
                <input id="bottom" class="form-control" name="bottom" type="text" value="{$item.bottom}"
                       placeholder="BOTTOM">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">备注</label>
            <div class="col-sm-7">
                            <textarea class="form-control" name="remark" value="" id="remark"
                                      placeholder="备注">{$item.remark}</textarea>
            </div>
        </div>
        {if condition="$item['themeId'] gt 0"}
        <input type="hidden" name="themeId" id="themeId" value="{$item.themeId}">
        {/if}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" onclick="onCancel()">取消</button>
        {if condition="$item['themeId'] gt 0"}
        <button type="button" class="btn btn-primary" onclick="postform()">修改</button>
        {else/}
        <button type="reset" class="btn btn-default">重置</button>
        <button type="button" class="btn btn-primary" onclick="postform()">提交</button>
        {/if}
    </div>
</form>
</body>
</html>

<script type="text/javascript">
    var themeurl = "{:url('/flyuiapi/theme')}";

    if ('{$item.isMirror}' === '1') {
        $('#checkMirror').prop("checked", true);
        $('#isMirror').val(1);
    } else {
        $('#checkMirror').prop("checked", false);
        $('#isMirror').val(0);
    }

    document.getElementById("animType")['{$item.animType}'].selected = true;

    //POST提交数据
    function postform() {
        if ($('#themeName').val() === "") {
            $('#themeName').focus();
            return;
        }

        $('#isMirror').val($('#checkMirror').prop("checked") === true ? 1 : 0);
        $.ajax({
            type: "{$item.themeId}" <= 0 ? "POST" : "PUT",
            url: themeurl,
            data: $('#themeform').serialize(),
            error: function (request) {
                alert("error code:" + request.readyState);
            },
            success: function (data) {
                var obj = JSON.parse(data);
                if (obj.code === 0) {
                    window.history.back();
                } else {
                    alert(obj.msg);
                }
            }
        });
    }


    $('#flyimage1').flyinput({
        ajaxurl: "{:url('/api/imagefile')}",
        postData: false,
        width: "100%",
        height: "300px"
    }).bind("success", function (e, data) {
        $('#imageurl').val(data.saveName);
    }).bind("del", function (e, data) {
        $('#imageurl').val("");
    });

    $('#flyimage2').flyinput({
        ajaxurl: "{:url('/api/imagefile')}",
        postData: false,
        width: "100%",
        height: "300px"
    }).bind("success", function (e, data) {
        $('#exampleurl').val(data.saveName);
    }).bind("del", function (e, data) {
        $('#exampleurl').val("");
    });

    function onCancel() {
        window.location.href = "{:url('/flyui/theme')}";
    }

</script>
