<!doctype html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="__RES__/common/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="__RES__/common/css/bootstrap-theme.css">
<link rel="stylesheet" type="text/css" href="__RES__/common/css/bootstrap-table.css">
<script type="text/javascript" src="__RES__/common/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="__RES__/common/js/bootstrap.js"></script>
<script type="text/javascript" src="__RES__/common/js/bootstrap-table.js"></script>
<script type="text/javascript" src="__RES__/common/js/bootstrap-table-zh-CN.min.js"></script>
<script type="text/javascript" src="__RES__/news/js/flyinput.js"></script>
<body>
<form class="form-horizontal" name="welcomeform" id="welcomeform" method="post" role="form"
      action="{:url('/homeapi/welcome')}"
      enctype="multipart/form-data">
    <div class="modal-header">
        <h4 class="modal-title" id="">修改轮播图片</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label class="col-sm-1 control-label">排列顺序</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" name="welcomeSort" id="welcomeSort" value="{$item.welcomeSort}"
                       placeholder="按输入数字从小到大排列">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">显示图片</label>
            <div class="col-sm-5">
                <input type="file" accept="image/*" id="flyimageup" name="imagefile">
                <input type="hidden" id="imageurl" name="imageurl" value="{$item.imageurl}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">文本标题</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" name="welcomeTitle" id="welcomeTitle" value="{$item.welcomeTitle}"
                       placeholder="请输入标题">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">文本内容</label>
            <div class="col-sm-5">
                            <textarea class="form-control" style="height: 240px" name="welcomeText" value="" id="welcomeText"
                                      placeholder="">{$item.welcomeText}</textarea>
            </div>
        </div>
        <input type="hidden" name="welcomeId" id="welcomeId" value="{$item.welcomeId}">
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default"  onclick="onCancel()" >取消</button>
        <button type="button" class="btn btn-primary" onclick="postwelcome()">修改</button>
    </div>
</form>
</body>
</html>

<script type="text/javascript">
    var welcomeurl = "{:url('/homeapi/welcome')}";
    var upimageurl = "{:url('/api/imagefile')}";
    var imageurl = $('#imageurl').val();
    //POST提交数据
    function postwelcome() {
        if ($('#welcomeTitle').val() === "") {
            $('#welcomeTitle').focus();
            return
        }

        if ($('#welcomeSort').val() === "") {
            $('#welcomeSort').focus();
            return
        }
        $.ajax({
            type: "PUT",
            url: welcomeurl,
            data: $('#welcomeform').serialize(),
            error: function (request) {
                alert("error code:" + request.readyState);
            },
            success: function (data) {
                var obj = JSON.parse(data);
                if (obj.code === 0) {
                    window.history.back();
                } else {
                    alert(obj.msg);
                }
            }
        });
    }

    $('#flyimageup').flyinput({
        url: upimageurl,
        image:imageurl,
        autoup: true,
        showPreview: true,
        width: "100%",
        height: "240px"
    }).on("success", function (event, data) {
        var result = JSON.parse(data);
        $('#imageurl').val(result.data.saveName);
    });

    function onCancel() {
        window.location.href="{:url('/home/welcome')}";
    }

</script>
