<!doctype html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="__RES__/common/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="__RES__/common/css/bootstrap-theme.css">
<link rel="stylesheet" type="text/css" href="__RES__/common/css/bootstrap-table.css">
<script type="text/javascript" src="__RES__/common/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="__RES__/common/js/bootstrap.js"></script>
<script type="text/javascript" src="__RES__/common/js/bootstrap-table.js"></script>
<script type="text/javascript" src="__RES__/common/js/bootstrap-table-zh-CN.min.js"></script>
<script type="text/javascript" src="__RES__/flyui/js/flyimage.js"></script>
<body>

<form class="form-horizontal" name="celltypeform" id="celltypeform" method="post" role="form"
      action="{:url('/flyuiapi/page')}"
      enctype="multipart/form-data">
    <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">{if condition="$item['pageId'] gt 0"}修改页面{else/}添加页面{/if}</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="pageName" class="col-sm-1 control-label">关联模板</label>
            <div class="col-sm-2">
                <select name="themeId" style="height:30px;border:solid;border-width:1px;border-color:#000000;">
                    {volist name="themes" id="theme" key="k"}
                    {if condition="$item['themeId'] eq $theme['themeId']"}
                    <option value="{$theme.themeId}" selected="selected">{$theme.themeName}</option>
                    {else/}
                    <option value="{$theme.themeId}">{$theme.themeName}</option>
                    {/if}
                    {/volist}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="pageName" class="col-sm-1 control-label">页面名称</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" name="pageName" id="pageName" value="{$item.pageName}"
                       placeholder="请输入名称">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">背景图片</label>
            <div class="col-sm-5">
                <input class="FlyImageInput" type="file" accept="image/*" name="imagefile" imageUrl="{$item.imageurl}">
                <input type="hidden" id="imageurl" name="imageurl" value="{$item.imageurl}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">分&nbsp辨&nbsp率&nbsp</label>
            <div class="col-sm-1">
                <input id="width" name="width" type="text" class="form-control" value="{$item.width}" placeholder="宽(像素)">
            </div>
            <div class="col-sm-1">
                <input id="height" name="height" type="text" class="form-control" value="{$item.height}" placeholder="高(像素)">
            </div>
            <label class="col-sm-1 control-label">背景颜色</label>
            <div class="col-sm-2">
                <input id="backcolor" name="backcolor" type="text" class="form-control" value="{$item.backcolor}" placeholder="格式：#FFFFFFF">
            </div>
        </div>
        <div class="form-group">
            <label for="remark" class="col-sm-1 control-label">备注</label>
            <div class="col-sm-5">
                <textarea class="form-control" name="remark" id="remark" placeholder="添加页面描述，可用于检索。">{$item.remark}</textarea>
            </div>
        </div>
        {if condition="$item['pageId'] gt 0"}
        <input type="hidden" name="pageId" id="pageId" value="{$item.pageId}">
        {/if}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" onclick="onCancel()">取消</button>
        {if condition="$item['pageId'] gt 0"}
        <button type="button" class="btn btn-primary" onclick="postform()">修改</button>
        {else/}
        <button type="reset" class="btn btn-default">重置</button>
        <button type="button" class="btn btn-primary" onclick="postform()">提交</button>
        {/if}
    </div>
</form>
</body>
</html>

<script type="text/javascript">
    var pageurl = "{:url('/flyuiapi/page')}";

    //POST提交数据
    function postform() {
        if ($('#pageName').val() === "") {
            $('#pageName').focus();
            return;
        }
        $.ajax({
            type: "{$item.pageId}" <= 0 ? "POST" : "PUT",
            url: pageurl,
            data: $('#celltypeform').serialize(),
            error: function (request) {
                alert("error code:" + request.readyState);
            },
            success: function (data) {
                var obj = JSON.parse(data);
                if (obj.code === 0) {
                    window.history.back();
                } else {
                    alert(obj.msg);
                }
            }
        });
    }

    $('.FlyImageInput').flyinput({
        ajaxurl: "{:url('/flyuiapi/imagefile')}",
        postData: false,
        width: "100%",
        height: "300px"
    }).bind("success", function (e, data) {
        $('#imageurl').val(data.saveName);
    }).bind("del", function (e, data) {
        $('#imageurl').val("");
    });

    function onCancel() {
        window.location.href = "{:url('/flyui/page')}";
    }

</script>
