<!doctype html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="__RES__/common/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="__RES__/common/css/bootstrap-theme.css">
<link rel="stylesheet" type="text/css" href="__RES__/common/css/bootstrap-table.css">
<script type="text/javascript" src="__RES__/common/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="__RES__/common/js/bootstrap.js"></script>
<script type="text/javascript" src="__RES__/common/js/bootstrap-table.js"></script>
<script type="text/javascript" src="__RES__/common/js/bootstrap-table-zh-CN.min.js"></script>
<script type="text/javascript" src="__RES__/news/js/flyinput.js"></script>
<body>
<form class="form-horizontal" name="historyform" id="historyform" method="post" role="form"
      action="{:url('/homeapi/history')}"
      enctype="multipart/form-data">
    <div class="modal-header">
        <h4 class="modal-title" id="">修改案例</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label class="col-sm-1 control-label">历史图片</label>
            <div class="col-sm-5">
                <input type="file" accept="image/*" id="imageinput1" name="imagefile">
                <input type="hidden" id="imageurl" name="imageurl" value="{$item.imageurl}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">历史时间</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" name="historyTitle" id="historyTitle" value="{$item.historyTitle}"
                       placeholder="请输入时间，如:2019年1月">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">历史事件</label>
            <div class="col-sm-5">
                            <textarea class="form-control" style="height: 240px" name="historyText" value="" id="historyText"
                                      placeholder="">{$item.historyText}</textarea>
            </div>
        </div>
        <input type="hidden" name="historyId" id="historyId" value="{$item.historyId}">
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" onclick="onCancel()">取消</button>
        <button type="button" class="btn btn-primary" onclick="posthistory()">修改</button>
    </div>
</form>
</body>
</html>

<script type="text/javascript">
    var historyurl = "{:url('/homeapi/history')}";
    var upimageurl2 = "{:url('/homeapi/imagefile')}";
    var imageurl1 = $('#imageurl').val();

    //POST提交数据
    function posthistory() {
        if ($('#historyTitle').val() === "") {
            $('#historyTitle').focus();
            return
        }

        if ($('#historySort').val() === "") {
            $('#historySort').focus();
            return
        }
        $.ajax({
            type: "PUT",
            url: historyurl,
            data: $('#historyform').serialize(),
            error: function (request) {
                alert("error code:" + request.readyState);
            },
            success: function (data) {
                var obj = JSON.parse(data);
                if (obj.code === 0) {
                    window.history.back();
                } else {
                    alert(obj.msg);
                }
            }
        });
    }

    $('#imageinput1').flyinput({
        url: upimageurl2,
        image:imageurl1,
        autoup: true,
        showPreview: true,
        width: "240px",
        height: "240px"
    }).on("success", function (event, data) {
        var result = JSON.parse(data);
        $('#imageurl').val(result.data.saveName);
    });

    function onCancel() {
        window.location.href = "{:url('/home/history')}";
    }

</script>
