html, body {
    margin: 0px 0px;
    width: 100%;
    height: 100%;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

iframe {
    margin: 0px 0px;
    width: 100%;
    height: 100%;
}

.header{
    position:relative;
    width: 100%;
    height: 50px;
    border: solid;
    box-sizing: border-box;
    border-width: 0px;
    border-color: #000000;
}

.left-menu{
    position:absolute;
    float: left;
    width: 240px;
    height: 100%;
    border: solid;
    box-sizing: border-box;
    border-width: 1px;
    border-color: #000000;
}

.content{
    margin-left:240px;
    height:100%;
    border: solid;
    box-sizing: border-box;
    border-width: 1px;
    border-color: #000000;
}
.mousemove{
    cursor:pointer;
}
