<div class="nav" id='nav'>
    <div class="layui-container">
        <!-- 公司logo -->
        <div class="nav-logo">
            <a href="index.html">
                <img src="__RES__/index/static/img/logo.png" alt="澳克多普有限公司">
            </a>
        </div>
        <div class="nav-list">
            <button>
                <span></span><span></span><span></span>
            </button>
            <ul class="layui-nav" lay-filter="">
                <li class="layui-nav-item" id="navindex"><a href="{:url('/index/index')}">首页</a></li>
                <li class="layui-nav-item" id="navproduct"><a href="{:url('/index/product')}">产品</a></li>
                <li class="layui-nav-item" id="navnews"><a href="{:url('/index/news')}">动态</a></li>
                <li class="layui-nav-item" id="navcases"><a href="{:url('/index/cases')}">案例</a></li>
                <li class="layui-nav-item" id="navabout"><a href="{:url('/index/about')}">关于</a></li>
            </ul>
        </div>
    </div>
</div>