<!doctype html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="__RES__/common/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="__RES__/common/css/bootstrap-theme.css">
<link rel="stylesheet" type="text/css" href="__RES__/common/webuploader-dist-v0.1.1/webuploader.css">
<script type="text/javascript" src="__RES__/common/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="__RES__/common/js/bootstrap.js"></script>
<script src="__RES__/common/webuploader-dist-v0.1.1/webuploader.js"></script>
<body>
<form class="form-horizontal" name="otapackageform" id="otapackageform" method="post" role="form"
      action="{:url('/fotaapi/otapackage')}"
      enctype="multipart/form-data">
    <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">{if condition="$item['otapackageId'] gt 0"}修改安装包{else/}添加安装包{/if}</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label class="col-sm-1 control-label">系统类型</label>
            <div class="col-sm-5">
                <select id="systemId" style="height: 30px;border:solid;border-width:1px;border-color:#000000;"
                        name="systemId">
                    <option value="OC_VLTE" selected="selected">VLTE</option>
                    <option value="OC_CPE">CPE2</option>
                    <option value="OC_C8">C8</option>
                    <option value="OC_C10">C10</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">升级包</label>
            <div class="col-sm-5">
                <div id="uploader" class="wu-example" style="height: 35px">
                    <div id="thelist" class="uploader-list">
                        <div id="picker">选择文件</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">MD5</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" name="md5sum" id="md5sum"
                       value="{$item.md5sum}" readonly="readonly">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">文件路径</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" name="filepath" id="filepath" value="{$item.filepath}"
                       readonly="readonly">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">下载地址</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="downurl" value="" readonly="readonly">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">文件大小</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" name="filesize" id="filesize"
                       value="{$item.filesize}" readonly="readonly">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">升级版本号</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" name="version" id="version"
                       value="{$item.version}"
                       placeholder="例如：CM3003_V5.4.1_2021041600_USER">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">原始版本号</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" name="oldversion" id="oldversion"
                       value="{$item.oldversion}"
                       placeholder="例如：CM3003_V5.4.1_2021041600_USER">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">强制更新</label>
            <div class="col-sm-5" style="height: 32px">
                <div style="padding-left:10px;padding-right:10px;border:solid;border-width:1px;border-color: #EEEEEE;float: left;line-height: 32px">
                    <input type="checkbox" style="margin-top:6px;" id="checkAutoup">
                    <input type="hidden" name="autoup" id="autoup" value="0">
                </div>
            </div>
        </div>
        {if condition="$item['otapackageId'] gt 0"}
        <input type="hidden" name="otapackageId" id="otapackageId" value="{$item.otapackageId}">
        {/if}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" onclick="onCancel()">取消</button>
        {if condition="$item['otapackageId'] gt 0"}
        <button type="button" class="btn btn-primary" onclick="postform()">修改</button>
        {else/}
        <button type="reset" class="btn btn-default">重置</button>
        <button type="button" class="btn btn-primary" onclick="postform()">提交</button>
        {/if}
    </div>
</form>
</body>
</html>

<script type="text/javascript">
    var otapackageurl = "{:url('/fotaapi/otapackage')}";

    //初始化控件
    if ('{$item.autoup}' === '1') {
        $('#checkAutoup').prop("checked", true);
        $('#autoup').val(1);
    } else {
        $('#checkAutoup').prop("checked", false);
        $('#autoup').val(0);
    }

    // 文件上传模块
    var $ = jQuery,
        $list = $('#thelist'),
        state = 'pending'
    var uploader = WebUploader.create({
        auto: true,//是否自动上传，true为自动上传
        resize: false,
        swf: '__RES__/common/webuploader-dist-v0.1.1/Uploader.swf',
        server: '{:url("/api/fotafile")}',
        pick: '#picker',
        fileVal: 'fotafile',
        chunked: false,
        chunkSize: 50 * 1024 * 1024,
        threads: 5,
        duplicate: true
    });
    uploader.on('fileQueued', function (file) {
        $("#picker").hide();
        $list.append('<div id="' + file.id + '" class="item">' + '</div>');
    });
    uploader.on('uploadProgress', function (file, percentage) {
        var $li = $('#' + file.id);
        var $percent = $list.find('.progress .progress-bar');
        $percent.show();
        if (!$percent.length) {
            $percent = $('<div class="progress progress-striped active" style="height: 35px">' +
                '<div class="progress-bar" role="progressbar" style="width: 0%">' +
                '</div>' +
                '</div>').appendTo($li).find('.progress-bar');
        }
        $percent.css('width', percentage * 100 + '%');
    });
    uploader.on('uploadError', function (file) {
    });
    uploader.on('uploadSuccess', function (file, response) {
        console.log(response._raw);
        var obj = JSON.parse(response._raw);
        $("#md5sum").val(obj.data.md5sum);
        $("#filepath").val(obj.data.filepath);
        $("#filesize").val(obj.data.filesize);
        $("#downurl").val(obj.data.downurl);
    });
    uploader.on('uploadComplete', function (file) {
        $list.find('.progress').hide();
        $("#picker").show();
    });

    //POST提交数据
    function postform() {

        $('#autoup').val($('#checkAutoup').prop("checked") === true ? 1 : 0);

        $.ajax({
            type: "{$item.otapackageId}" <= 0 ? "POST" : "PUT",
            url: otapackageurl,
            data: $('#otapackageform').serialize(),
            error: function (request) {
                alert("error code:" + request.readyState);
            },
            success: function (data) {
                var obj = JSON.parse(data);
                if (obj.code === 0) {
                    window.history.back();
                } else {
                    alert(obj.msg);
                }
            }
        });
    }

    function onCancel() {
        window.location.href = "{:url('/fota/otapackage')}";
    }
</script>
