<!doctype html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="__RES__/common/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="__RES__/common/css/bootstrap-theme.css">
<link rel="stylesheet" type="text/css" href="__RES__/common/webuploader-dist-v0.1.1/webuploader.css">
<script type="text/javascript" src="__RES__/common/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="__RES__/common/js/bootstrap.js"></script>
<script src="__RES__/common/webuploader-dist-v0.1.1/webuploader.js"></script>
<body>
<form class="form-horizontal" name="otapackageform" id="otapackageform" method="post" role="form"
      action="{:url('/fotaapi/otapackage')}"
      enctype="multipart/form-data">
    <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">{if condition="$item['otapackageId'] gt 0"}修改安装包{else/}添加安装包{/if}</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label class="col-sm-1 control-label">基础选项</label>
            <div class="col-sm-5" style="height: 32px">
                <div style="padding-left:4px;margin-left:0px;border:solid;border-width:1px;border-color: #EEEEEE;float: left;line-height: 32px">
                    硬件型号
                    <select id="osId" style="height: 30px;border:solid;border-width:1px;border-color:#000000;"
                            name="osId">
                        <option value="CM3003" selected="selected">CM3003</option>
                        <option value="CPE">CPE</option>
                        <option value="C8">C8</option>
                        <option value="C10">C10</option>
                    </select>
                </div>
                <div style="padding-left:4px;margin-left:20px;border:solid;border-width:1px;border-color: #EEEEEE;float: left;line-height: 32px">
                    解发条件
                    <select id="upType" style="height: 30px;border:solid;border-width:1px;border-color:#000000;"
                            name="upType">
                        <option value="0" selected="selected">手动升级</option>
                        <option value="1">自动升级</option>
                        <option value="2">用于测试</option>
                    </select>
                </div>
                <div style="padding-left:4px;margin-left:20px;border:solid;border-width:1px;border-color: #EEEEEE;float: left;line-height: 32px">
                    OTA包类型
                    <select id="otaType" style="height: 30px;border:solid;border-width:1px;border-color:#000000;"
                            name="otaType">
                        <option value="0" selected="selected">完整包</option>
                        <option value="1">差分包</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">新版本号</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" name="version" id="version"
                       value="{$item.version}"
                       placeholder="例如：CM3003_V5.4.1_2021041600_USER">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">旧版本号</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" name="oldver" id="oldver"
                       value="{$item.oldver}"
                       placeholder="例如：CM3003_V5.4.1_2021041600_USER">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">版本说明</label>
            <div class="col-sm-5">
                <textarea class="form-control" style="height: 240px" name="releaseNote" value="{$item.releaseNote}"
                          id="releaseNote" placeholder="">{$item.releaseNote}</textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">MD5值</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" name="md5sum" id="md5sum"
                       value="{$item.md5sum}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">OTA文件</label>
            <div class="col-sm-5">
                <div id="uploader" class="wu-example" style="height: 35px">
                    <div id="thelist" class="uploader-list">
                        <div id="picker">选择文件</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">文件路径</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" name="filepath" id="filepath" value="{$item.filepath}"
                       readonly="readonly">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">文件大小</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" name="filesize" id="filesize"
                       value="{$item.filesize}" readonly="readonly">
            </div>
        </div>
        {if condition="$item['otapackageId'] gt 0"}
        <input type="hidden" name="otapackageId" id="otapackageId" value="{$item.otapackageId}">
        {/if}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" onclick="onCancel()">取消</button>
        {if condition="$item['otapackageId'] gt 0"}
        <button type="button" class="btn btn-primary" onclick="postform()">修改</button>
        {else/}
        <button type="reset" class="btn btn-default">重置</button>
        <button type="button" class="btn btn-primary" onclick="postform()">提交</button>
        {/if}
    </div>
</form>
</body>
</html>

<script type="text/javascript">
    var otapackageurl = "{:url('/fotaapi/otapackage')}";

    var osIdobj = document.getElementById("osId");
    for (i = 0; i < osIdobj.length; i++) {
        if (osIdobj[i].value === '{$item.osId}')
            osIdobj[i].selected = true;
    }
    document.getElementById("upType")['{$item.upType}'].selected = true;
    document.getElementById("otaType")['{$item.otaType}'].selected = true;

    // 文件上传模块
    // var deferred = WebUploader.Deferred();
    // WebUploader.Uploader.register({
    //     "before-send-file": "beforeSendFile",
    // }, {
    //     beforeSendFile: function (file) {
    //         $.ajax({
    //             type: "POST",
    //             url: "/checkFileExist",
    //             data: {
    //                 md5: file.fileMd5
    //             },
    //             dataType: "json",
    //             success: function (result) {
    //                 console.log("result:"+result);
    //                 deferred.resolve()
    //             },
    //             error: function () {
    //                 console.log("error");
    //                 deferred.reject()
    //             }
    //         });
    //     }
    // });
    var $ = jQuery,
        $list = $('#thelist'),
        state = 'pending'
    var uploader = WebUploader.create({
        auto: true,//是否自动上传，true为自动上传
        resize: false,
        swf: '__RES__/common/webuploader-dist-v0.1.1/Uploader.swf',
        server: '{:url("/api/fotafile")}',
        pick: '#picker',
        fileVal: 'fotafile',
        chunked: false,
        chunkSize: 50 * 1024 * 1024,
        threads: 5,
        duplicate: true
    });
    uploader.on('fileQueued', function (file) {
        $("#picker").hide();
        $list.append('<div id="' + file.id + '" class="item">' + '</div>');
    });
    uploader.on('uploadProgress', function (file, percentage) {
        var $li = $('#' + file.id);
        var $percent = $list.find('.progress .progress-bar');
        $percent.show();
        if (!$percent.length) {
            $percent = $('<div class="progress progress-striped active" style="height: 35px">' +
                '<div class="progress-bar" role="progressbar" style="width: 0%">' +
                '</div>' +
                '</div>').appendTo($li).find('.progress-bar');
        }
        $percent.css('width', percentage * 100 + '%');
    });
    uploader.on('uploadError', function (file) {
    });
    uploader.on('uploadSuccess', function (file, response) {
        console.log(response._raw);
        var obj = JSON.parse(response._raw);
        $("#md5sum").val(obj.data.md5sum);
        $("#filepath").val(obj.data.filepath);
        $("#filesize").val(obj.data.filesize);
        $("#downurl").val(obj.data.downurl);
    });
    uploader.on('uploadComplete', function (file) {
        $list.find('.progress').hide();
        $("#picker").show();
    });

    //POST提交数据
    function postform() {

        $('#autoup').val($('#checkAutoup').prop("checked") === true ? 1 : 0);

        $.ajax({
            type: "{$item.otapackageId}" <= 0 ? "POST" : "PUT",
            url: otapackageurl,
            data: $('#otapackageform').serialize(),
            error: function (request) {
                alert("error code:" + request.readyState);
            },
            success: function (data) {
                var obj = JSON.parse(data);
                if (obj.code === 0) {
                    window.history.back();
                } else {
                    alert(obj.msg);
                }
            }
        });
    }

    function onCancel() {
        window.location.href = "{:url('/fota/otapackage')}";
    }
</script>
