<!doctype html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="__RES__/common/webuploader-dist-v0.1.1/webuploader.css">
<script type="text/javascript" src="__RES__/common/js/jquery-3.2.1.min.js"></script>
<script src="__RES__/common/webuploader-dist-v0.1.1/webuploader.js"></script>
<body>
<div id="uploader" class="wu-example">
    <!--用来存放文件信息-->
    <div id="thelist" class="uploader-list"></div>
    <div class="btns">
        <div id="picker">选择文件</div>
        <button id="ctlBtn" class="btn btn-default">开始上传</button>
    </div>
</div>
</body>
</html>

<script type="text/javascript">
    var uploader = WebUploader.create({
        server: 'http://webuploader.duapp.com/server/fileupload.php',
        pick: '#picker',
        resize: false
    });
</script>
